{% extends 'main.html' %}
{% load staticfiles %}

{% block title %}
    Пиццерия
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}

<div id="airlines">
  <!-- <div class="card" style="width: 20rem; margin-top: 20px; margin-left: 20px" v-for="airline in airlines">
    <div class="card-body">
      <h4 class="card-title">{% templatetag openvariable %}airline.title{% templatetag closevariable %}</h4>
      <p class="card-text">Объем парка машин: {% templatetag openvariable %}airline.park_size{% templatetag closevariable %}</p>
      <a v-bind:href="'/airlines/' + airline.id" class="btn btn-primary">Подробнее</a> <button type="button" class="btn btn-danger" v-on:click="delete_airline(airline.id)">-</button>
    </div>
  </div> -->
</div>

<!-- <script type="text/javascript" src="{% static '/vue_airlines.js' %}"></script> -->

{% endblock %}
